

body {
  font-family: arial;
  max-width: 3000px;
  margin-inline: auto;
  background-color: #D3D3D3;
  font: 100%/1.5 system-ui;
}

nav {
  display: flex;
  border-bottom: solid 1px oklch(80% 3% 200);
  margin-bottom: 1em;
}
nav a {
  flex: 1;
  text-align: center;
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 1em;
}

nav a.current{
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}

:root{
  --color-accent: oklch(65% 50% 0);
}