body {
  font-family: system-ui, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

main {
  width: min(1100px, 90vw);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Return the slider row */
#time-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

#time-filter label {
  font-size: 1.1rem;
  font-weight: 500;
}

#commit-time {
  margin-left: auto;
  font-size: 1.1rem;
  font-weight: 600;
}

/* Return the syling information for the stats */
#stats {
  margin-bottom: 2rem;
}

#stats dl {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.4rem;
  column-gap: 1rem;
  font-size: 1.1rem;
}

#stats dt {
  font-weight: 600;
}

/* Return the container for the scatterplot */
#chart {
  height: 600px;
  margin-top: 1rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1rem;
}

/* Return the tooltip */
#commit-tooltip {
  position: fixed;
  background: white;
  border: 1px solid #ccc;
  padding: 0.8rem 1rem;
  border-radius: 6px;
  font-size: 0.9rem;
  pointer-events: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

circle {
  transition: r 0.3s ease, cx 0.3s ease, cy 0.3s ease;

  @starting-style {
    r: 0;
  }
}

#files {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 0.75rem;
}

#files > div {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

#files dt {
  grid-column: 1;
  font-family: monospace;
  font-size: 0.95rem;
}

#files dd {
  grid-column: 2;
  font-size: 0.95rem;
  color: #555;
}

/* File line units visualization */
#file-lines {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.file-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.file-row code {
  width: 200px;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.line-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.line-block {
  width: 6px;
  height: 12px;
  border-radius: 2px;
}

/* Colors for line "types" */
.line-added {
  background: #4caf50;
}
.line-removed {
  background: #f44336;
}
.line-modified {
  background: #ff9800;
}
.line-other {
  background: #9e9e9e;
}

.loc {
  width: 0.55em;
  aspect-ratio: 1;
  border-radius: 50%;
  background: steelblue;
  display: inline-block;
}

#files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.2em;
  margin: 0;
  padding-top: 0.25em;
}


#files dt code {
  font-family: monospace;
  font-size: 1rem;
}

#files dt small {
  display: block;
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 0.25em;
}

#files > .file-row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}



